<dialog id="contact_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg mb-4"> Add New Contact</h3>
        <form action="post" class=" mb-4">
            {% csrf_token %}
            <div class="form w-full">
                <label class="label">
                    <span class="label-text">Name</span>
                </label>
                {{ form.name }}

                {% if form.name.errors %}
                <label class="label text-error">
                    {{ form.name.errors }}
                </label>
                {% endif %}
            </div>
            <div class="form w-full">
                <label class="label">
                    <span class="label-text">Email</span>
                </label>

                {{ form.email }}

                {% if form.email.errors %}
                <label class="label text-error">
                    {{ form.email.errors }}
                </label>
                {% endif %}
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary mt-2">Add Contact</button>
                <button type="button" class="btn mt-2" onclick="contact_modal.close()">Cancel</button>
            </div>
        </form>
    </div>
</dialog>