{% extends 'base.html' %}

{% block content %}

<div>
    <h1 class="text-4xl text-success mb-4">Contact Manager</h1>
    <button class="btn btn-primary" onclick="contact_modal.showModal()">Add Contact</button>
    {% include 'partials/add-contact.html' %}
    <label class="input mb-5 flex items-center gap-2">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
            </g>
        </svg>
        {% include 'partials/spinner.html' %}
        <input name="search" type="search" class="grow" required placeholder="Search" hx-get="{% url 'search' %}"
            hx-trigger="keyup delay:1000ms" hx-target="#contacts-list" hx-indicator="#spinner" />
    </label>

    {% include 'partials/contact-list.html' %}
</div>

{% endblock %}